.content-style{
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
    margin: 50px
}

.Titulo1{
    color: #4eb6b6;
    font-family: MuseoModerno;
    font-size: 30px;
    font-weight: 400;
}

