.parallax-container {
    position: relative;
    height: 500px; /* ajusta la altura según sea necesario */
    overflow: hidden;
  }
  
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .triangle-button {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .triangle-button.left {
    border-width: 0 20px 20px 0;
    border-color: transparent #fff transparent transparent;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
  }
  
  .triangle-button.right {
    border-width: 0 0 20px 20px;
    border-color: transparent transparent transparent #fff;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
  }

  .scroll-down-button{
    position: absolute;
    right: 50%;
    bottom: 10%;
}