
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222222;
}
  
line {
    stroke-width: 15px;
    stroke-linecap: round;
    fill: transparent;
}  