.button{
    background-position: 0%;
    text-align: center;
    background-color: aquamarine;
    border-radius: 50PX;
}

.navbar-button{
    width: 15% ;
    background:  white ;
    border-radius: 33;
    margin: 0px 0 ;
    text-align: center ;
}
