
.anim1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(118, 202, 185), rgb(35, 44, 59));
}
  
line {
    stroke-width: 15px;
    stroke-linecap: round;
    fill: transparent;
}  